.gallery-image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  width: 510px;
  height: 340px;
}
.gallery-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
